.body {
    width: 100%;
    height: 100%;
    background-color: white;
}

.Dbody {
    width: 100%;
    height: 100%;
    background-color: #272935;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0px auto;
}

.topnav {
    width: 100%;
    background-color: #021431;
    padding: 7px;
}

.Dtopnav {
    width: 100%;
    background: #272935;
    padding: 7px;
}

.Navbar {
    width: 100%;
    background: #F0F6FF;
    padding: 10px;
}

.link {
    text-decoration: none;
    color: #021431;
}

.linkHover {
    padding: 5px;
    border-radius: 10px;
    transition: all 0.2s linear;
}

.linkHover:hover {
    background-color: silver;
}

.darkMode {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 80px;
    gap: 70px;
}

.h1 {
    max-width: 500px;
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    color: #394E6A;
    padding-bottom: 30px;
}

.Dh1 {
    max-width: 500px;
    font-size: 60px;
    font-weight: bold;
    color: #394E6A;
    padding-bottom: 30px;
    color: white;
}

.p {
    max-width: 500px;
    font-weight: bold;
    color: #778aa3;
}

.headerImg {
    border-radius: 20px;
    height: 400px;
}

.headerImgs {
    display: flex;
    border-radius: 20px;
    background: #021431;
    padding: 20px;
    gap: 20px;
}

.headerI2 {
    border-radius: 20px;
    max-width: 200px;
    overflow: hidden;
}

.cardImg {
    width: 300px;
    height: 192px;
    border-radius: 10px;
}

.DCard {
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    background-color: #2c2e3a;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cardd{
    padding: 10px;
    max-width: 330px;
    width: 100%;
    border: 1px solid #ccc
}

.Dh2 {
    color: white;
}

.h6 {
    color: #394E6A;
    margin-top: 10px;
}

.Dh6 {
    color: #778aa3;
    margin-top: 10px;
}

@media screen and (max-width: 1050px) {
    .container {
        padding: 20px;
        text-align: center;
    }

    .headeri {
        margin: 0px auto;
    }

    .h1 {
        font-size: 40px;
        text-align: center;
    }

    .headerImgs {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .cardImg {
        width: 200px;
        height: 192px;
        border-radius: 10px;
    }
}





@media screen and (max-width: 330px) {
    .cardd{
        padding: 2px;
    }
    .cardImg {
        max-width: 150px;
    }
}