input {
    width: 220px;
    border-radius: 4px;
    padding: 3px 10px;
    background-color: #F0F6FF;
    color: #394E82;
}

.input {
    width: 220px;
    border-radius: 4px;
    padding: 3px 10px;
    background-color: #F0F6FF;
    color: #394E82;
}

.Dinput {
    width: 220px;
    border-radius: 4px;
    padding: 3px 10px;
    background-color: #272935;
    color: white;
}

select {
    max-width: 220px;
    width: 100%;
    border-radius: 4px;
    padding: 3px 10px;
    background-color: #F0F6FF;
    color: #394E82;
}

button {
    width: 220px;
}

label {
    margin-bottom: 10px;
}

.div {
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: center;
    background: #F0F6FF;
    padding: 20px;
    border-radius: 10px;
}

.Ddiv {
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 100%;
    background: #181920;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.divv {
    margin-bottom: 50px;
}

.divo {
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
    padding-top: 100px;
    text-align: center;
}

.alll {
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.Dall {
    width: 100%;
    background: #272935;
    height: 100vh;
    padding: 20px;
}

.Palll {
    width: 100%;
}

.PDall {
    width: 100%;
    background: #272935;
}

.Ddivo {
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
    padding-top: 100px;
    text-align: center;
    color: white;

}

.active {
    background-color: rgb(169, 169, 188);
    padding: 4px 10px;
    border-radius: 10px;
    color: white;
}

.h1 {
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Dh1 {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img {
    max-width: 150px;
    border-radius: 10px;
}

.text {
    padding-top: 10px 0px;
    font-size: 13px;
}

.Dtext {
    padding-top: 10px 0px;
    color: white;
    font-size: 13px;

}

.rl {
    display: flex;
    justify-content: space-between;
}

.cD {
    max-width: 400px;
    padding: 20px;
    background-color: #EBF1FA;
    border-radius: 10px;
}

.cDD {
    max-width: 400px;
    padding: 20px;
    background-color: #181920;
    border-radius: 10px;
}

.AllC {
    display: flex;
    justify-content: space-between;
}

.select {
    width: 50px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 1050px) {
    .div {
        display: flex;
        width: 100%;
        gap: 10px;
        justify-content: center;
        background: #F0F6FF;
        padding: 10px;
        border-radius: 10px;
    }

    .Ddiv {
        display: flex;
        gap: 10px;
        justify-content: center;
        width: 100%;
        background: #181920;
        padding: 10px;
        border-radius: 10px;
        color: white;
    }
}

@media screen and (max-width: 1050px) {
    .div {
        display: grid;
        grid-template-columns: 2fr 2fr;
        width: 100%;
        gap: 20px;
        justify-content: center;
        background: #F0F6FF;
        padding: 10px;
        border-radius: 10px;
    }

    .Ddiv {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 20px;
        justify-content: center;
        width: 100%;
        background: #181920;
        padding: 10px;
        border-radius: 10px;
        color: white;
    }
}

@media screen and (max-width: 1050px) {
    .div {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 20px;
        justify-content: center;
        background: #F0F6FF;
        padding: 10px;
        border-radius: 10px;
    }

    .Ddiv {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: center;
        width: 100%;
        background: #181920;
        padding: 10px;
        border-radius: 10px;
        color: white;
    }
}

@media screen and (max-width: 800px) {
    .AllC {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
}