.container {
  max-width: 1100px;
  width: 100%;
  margin: 0px auto;
}

.navbarr {
  display: flex;
}

.topnav {
  width: 100%;
  background-color: #021431;
  padding: 7px;
}

.Dtopnav {
  width: 100%;
  background-color: #272935;
  padding: 7px;
}

.Dnavbar {
  width: 100%;
  background: #181920;
  padding: 10px;
}

.Navbar {
  width: 100%;
  background: #F0F6FF;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: #021431;
}

.Dlink {
  color: white;
  text-decoration: none;
}

.linkHover {
  padding: 5px;
  border-radius: 10px;
  transition: all 0.2s linear;
}


.darkMode {
  cursor: pointer;
}

.icon {
  color: black;
  font-size: 25px;
}

.Dicon {
  color: white;
  font-size: 25px;
}



@media screen and (max-width: 1000px) {
  .navbarr{
    display: none;
  }
}